*{
  box-sizing: border-box;
}
:root {
  --main-color: #FF9900;
  --red-color: #f44336;
  --grey-color: #7C7C7C;
  --main-transition:.5s;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--grey-color);
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: white;
  position: relative;
}
.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 120px;
  font-style: italic;
}
.hr {
    width: 80%;
    margin: 10px auto;
    border: 3px solid #fff;
    border-radius: 25px;
    background-color: #fff;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.up{
  position: fixed;
  right: 5px;
  bottom: 15px;
  background-color:transparent;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  transition: .5s;
  overflow: hidden;
  z-index: 999;
  border: 1px solid red;
  display: none;
  animation: bouncing 1.5s infinite;
}
.up::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff0000d4;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
    transform-origin: top right;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
}
.up:hover::after{
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.section-span {
  display: block;
  width: 150px;
  margin: 5px auto;
  height: 5px;
  background-color: var(--grey-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
main{
  display: none;
}
/*start header */
header{
  position: relative;
}
.home{
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/landing.PNG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.logo{
  width: 70px;
  height: 70px;
}
.nav-link {
  color: white;
}
.nav-link .active{
  background-image: linear-gradient(to right,#FC03DB ,#7154E2);
  background-clip: text;
  color: transparent;
  border-radius: 10px;
}
header .cont {
    background-color: orange;
    padding: 5px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
}

.dropdown-menu {
  background-color: transparent;
}
.dropdown-menu .dropdown-item {
  color: white ;
}
.dropdown-i
.dropdown-menu li a.active{
  background-image: linear-gradient(to right,#FC03DB ,#7154E2);
  background-clip: text;
  color: white;
}
.landing{
  /* position: absolute; */
  top: 50%;
  left: 50px;
}
.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.landing .text h1{
  font-weight: 800;
  font-size: 56px;
}
.landing .text p {
  color: #CDCDCD;
  font-size: 25px;
}
.swiper{
  cursor: pointer;
}
/*end header */
/* start section1*/
.swiper-button-next::after,
.swiper-button-prev::after{
  color:rgba(255, 255, 255, 0.416) ;
  font-size: 20px;
}
.swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
}
.swiper-pagination-bullet-active{
  background-color: var(--main-color);
}
.service{
  padding-left: 20px;
}
.service h3 {
  color:#FF9900;
}

section{
  overflow: hidden;
}
.service{
  border-left:  2px solid #ddd;
}


/* end section1*/
/* start section2*/
.icon-text h3{
  color: var(--main-color);
}
.icon-text p {
  font-size: 15px;
}
.icon-holder {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  position: relative;
}
.icon-holder::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  height: 3px;
  background-color: var(--grey-color);
  transform: translateX(-50%);
}
.icon-holder h5 {
  color: var(--main-color);
}
.icon-holder img {
  width: 50px;
  height: 50px;
}
.row-icon {
  position: relative;
}
.row-icon::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 3px;
  border-radius: 15px;
  background-color: #fff;
  left: 49%;
  transform: translateX(-50%);
  z-index: 999;
}
.row-icon::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 3px;
  border-radius: 15px;
  background-color: #fff;
  left: 48%;
  transform: translateX(-48%);
  z-index: 999;
}
/* end section2*/
/* start section3*/
.pro-section{
  position: relative;
}
.pro-section::before{
  content: "";
  position: absolute;
  width: 3px;
  height: 95%;
  background-color: #fff;
  left: 49%;
  transform: translateX(-49%);
  border-radius: 15px;
}
.pro-section::after{
  content: "";
  position: absolute;
  width: 3px;
  height: 95%;
  background-color: #fff;
  left: 48%;
  transform: translateX(-48%);
  border-radius: 15px;
}
.swiper-before{
  position: relative;
}
.swiper-before::before{
  content: "Façades résidentielles";
  position: absolute;
  z-index: 99;
  color: #FF9900;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 21px;
  font-weight: 700;
}
.swiper-after::after{
  content: "Restaurants et cafés";
  position: absolute;
  z-index: 99;
  color: #FF9900;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  font-size: 21px;
  font-weight: 700;
}
/* end section3*/
/* start section4*/
.sec4 .swiper-before::before{
  content: "Décorations intérieures";
}
.sec4 .swiper-after::after{
  content: "Hôpitaux";
}
/* end section4*/

/*start style of information */
.info-head{
  color: #6946F8;
  font-size: 35px;
  text-transform: capitalize;
}
.info-head + p{
  color: #D2D2D2;
  font-size: 20px !important;
}
.info-head span:first-child{
  color: #B5089E;
}
.info-head span:last-child{
  color: #9E33BD;
}
.h3{
  color: var(--main-color);
  width: fit-content;
  border-left: 5px solid white;
  text-transform: capitalize;
  padding-left: 15px;
}
.info-text p {
  line-height: 2;
  font-size: 18px;
}
.image-holder{
  position: relative;
  height: 400px;
}
.info-image{
  height: 350px;
  position: absolute;
}
.img2 {
  transform: translate(-61%, 58px);
}
 .info-card{
  padding: 20px;
  border: 1px solid #2C2C2C;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: .5s;
  box-shadow: 0px 0px 5px #737373;
  cursor: pointer;
}
.col-md-4:hover .info-card{
  box-shadow: 5px 5px 15px #737373;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.info-card p {
  color: #FF9900;
  font-weight: bold;
}
.info-card img{
  width: 83px;
  height: 83px;
}
.card{
  box-shadow: 5px 5px 15px #ffffff63;
}
.amr-info{
  display: flex;
  justify-content: space-between;
}
@media (max-width:560px) {
  .amr-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.amr-info img {
  height: 200px;
  width: 200px;
}
.card-info {
  display: flex;
  gap: 15px;
}
.card-info h5 {
  color: #FF9900;
  font-weight: 700;
  font-size: 25px;
}
.card-info span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 1px solid #ffffff;
  padding: 4px 10px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: inset 3px 3px 74px 25px #868484, 2px 3px 3px 0px #86848452;
  gap: 5px;
}
.card-info span img{
  width: 25px;
  height: 25px;

}

/*end style of information */
/*start style of contact */
.contact{
  border-top: 3px solid rgba(255, 255, 255, 0.53);
  position: relative;
}
.submit {
  position: absolute;
  left: 10%;
  top: 50%;
  transition: auto;
  border: 1px solid white;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  font-size: 25px;
  transition: .5s;
}
.submit:hover{
  background-color: rgba(255, 0, 0, 0.277);
}
.submit span:first-child{
  color: #FF00DD;
}
.submit span:nth-child(2){
  color: #D67BFC;
}
.submit span:nth-child(3){
  color: #4E0F6C;
}
.submit span:last-child{
  color: #6946F8;
}
/*end style of contact */
















/* Start Footer */
.footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer .containerd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
.footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  .footer .box .social {
    justify-content: center;
  }
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
.footer .box .social .youtube:hover {
  background-color: #ff0000;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
  padding-left: 30px;
}
.footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .box .links li:hover {
  padding-left: 10px;
}
.footer .box .links li:hover a {
  color: white;
}
.footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
.footer .box .lined {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .footer .box .lined {
    flex-direction: column;
  }
}
.footer .box .lined i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  .footer .box .lined i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.footer .box .lined .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .lined .info span {
  display: block;
}



/* End Footer */

/*start media */
@media (min-width:767px) {
  .section-span{
    width: 350px;
  }
}
@media (max-width:767px) {
  header .cont{
    font-size: 9px;
  }
  .nav-link{
    text-align: center;
  }
  a.navbar-brand.text-white {
    font-size: 18px;
 }
 .logo{
  width: 50px;
  height: 50px;
 }
 .info-image{
  position: relative;
  transform: translate(65px, 10px);
 }
 .img2{
  position: absolute;
  transform: translate(-100%, 58px);
}
}
@media (min-width:992px) {
  .service p {
  line-height: 2;
  font-size: 16px;
  
}
}
@media (min-width:1200px) {
  .service p {
  line-height: 2;
  font-size: 20px;
 
}
}
@media (min-width:1300px) {
  .service p {
  line-height:2;
  font-size: 20px;

}
}
@media (max-width:991px) {
  .service p {
    line-height: 1.3;
    font-size: 15px;
  }  
}
@media (max-width:786px) {
  .service  {
    margin-top: 20px;
    border: none;
    padding-top: 10px;
  }  
  .line{
    display: block;
    width: 200px;
    height: 5px;
    border-radius: 20px;
    background-color: #ddd;
    margin: 5px auto 20px;
}
.landing .text h1 {
    font-size: 40px;
  }
.landing .text p {
    color: #CDCDCD;
    font-size: 15px;
    line-height: 1.5;
    width: 350px;
  }
  .row-icon::after ,
  .row-icon::before,
  .pro-section::after,
  .pro-section::before{
    display: none;
  } 
}
@media (min-width:768px) {
  .service{
    padding-left: 50px;
  }
  .image-edit {
    height: 709.5px;
  }
}
/*end media */

/*start animation */
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
}
}
.one {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 15px solid #D8215D;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
 
}
.one::before {
  content: "";
  position: absolute;
  border: 15px solid #2490FF;
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  border-radius: 50%;
  border-top-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.one::after {
  content: "";
  position: absolute;
  border: 15px solid #FCA200;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  border-radius: 50%;
  border-bottom-color: transparent;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  to{
    transform: rotate(360deg);
}
}